*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

test{
    color: hsl(26, 25%, 20%);
    color: hsl(313, 5%, 35%);
    color: hsl(69, 12%, 35%);
    color: hsl(26, 13%, 35%);
    color: hsl(0, 0%, 35%);
    color: hsl(26, 19%, 36%)
}

body{
    transition: background-color .8s cubic-bezier(0.22, 1, 0.36, 1);
    position: relative;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    cursor: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2032%2032%22%20width%3D%224%22%20height%3D%224%22%20fill%3D%22white%22%20opacity%3D%220.9%22%20stroke%3D%22none%22%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E %20%20%3Ccircle%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%2F%3E %3C%2Fsvg%3E") 2 2, pointer;
}

.svg-container{
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: soft-light;
}

.svg-container-relative{
    position: relative;
    width: 100%;
    height: 100%;
}

.light-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.svg-text{
    width: 100%;
    height: 100%;
}

.svg-text > *{
    display: flex;
    width: max-content;
    height: 100%;
}

.svg-text > *:not(.visible){
    display: none;
}

svg{
    height: 100%;
    padding: 20vh 0;
    display: inline-block;
    fill: black;
}

.canvas-container{
    position: relative;
}

.markers-container{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100vh;
    height: 100%;
    border: 0.4vh solid;
    border-top: none;
    border-bottom: none;
    box-sizing: content-box;
    border-color: transparent;
    transition: border-color .8s cubic-bezier(0.22, 1, 0.36, 1);
}

.markers-container.active-marker .marker:not(.marker:hover){
    opacity: 0;
}

.markers-container-relative{
    position: relative;
    width: 100%;
    height: 100%;
}

.marker{
    position: absolute;
    width: 4.5vh;
    height: 4.5vh;
    opacity: 0.8;
    transition: opacity .8s cubic-bezier(0.22, 1, 0.36, 1);
}

.marker-look{
    top: 38%;
    right: 41%;
}

.marker-ground{
    bottom: 10%;
    left: 13%;
}

.marker-hand{
    bottom: 33%;
    left: 42%;
}

.marker-typo{
    top: 16%;
    right: 17%;
}

.marker-relative{
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes grow{
    from{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to{
        transform: none;
        opacity: 0;
    }
}

.marker-relative div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}

.marker div:nth-of-type(2){
    animation-delay: .25s;
}

canvas{
    height: 100%;
    filter: brightness(1.6);
}